.eightball {
    border-radius: 50%;
    height: 60vh;
    width: 60vh;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
}

.header {
    text-align: center;
}

.message {
    padding-top: 45%;
    color: white;
}